POSTGRES_USER={postgres_username}
POSTGRES_PASSWORD={postgres_password}
POSTGRES_DB={postgres_database_name}

JWT_SECRET={jwt_secret_token}
JWT_EXPIRATION=86400000

TMDB_READ_ACCESS_TOKEN={tmdb_read_access_token}
TMDB_BASE_URL=https://api.themoviedb.org/3/